out
.idea
target
*.iml
*.ipr
*.iws
classes/*
test-output/*
release.properties
pom.xml.releaseBackup
testing
tmp*
s4_core-0.3.0.0/s4_core/logs
s4_core-0.3.0.0/s4_apps
s4_core-0.3.0.0/s4_core/lock
dev/
